.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgba(4, 3, 4, 3); 
  background-color: #149fac;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5px;
}

.centered-content div {
  display: flex;
  align-items: center;
}

.centered-content div p {
  color: #201b7c;
  font-size: larger;
}

.centered-content div h3 {
  margin-right: 10px; 
  color: #000000;
}

.medInput {
  width: 100%;
  padding: 10px; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 16px; 
  min-height: 50px;
  margin-right: 7px;
}

.centered-content button {
  background-color: #0c731f;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer;
  outline: none; 
  margin-top: 10px;
  align-self: flex-end;
}

.centered-content button:hover {
  background-color: #19440b;
  transform: scale(1.05);
}
