

*{
  margin:0;
  padding:0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
input{
  font-family: sans-serif;
}

body{
  background-color: #c2faef;
}
.title{
text-align: center;
}
.inputcont{
  text-align:center;
  border-radius: 5px;
  background-color: aqua; 
  border-radius: 10px;
  margin-left: 40%;
  margin-right: 40%;
  border-style:double;
}
input{
  margin: 5px;
}
.imge{
  max-width:5px;
   max-height:90px;
   margin-left: 34%;
   margin-bottom: 20%;
   margin-top:5px;
}
.cad{
  margin-left: 10px;
  font-size: small;
}
.inputtra{
  border-radius: 5px;
  background-color: aqua;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border-style: solid;
}
label{
  margin-left: 10px;
}
.map{
  height: 100vh;
}
.map-marker{
  margin-top: -30px;
}
.tabelaHis{
  width: 80%;
  border-collapse: collapse;
  margin-left: 140px;
  margin-right: 0%;
}
.tabelaHis th{
  padding: 8px;
  background-color: #17dcffa8;
  color: #333;
  border-style: solid;
}
.tabelaHis td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #ececec;
}
.trHis:hover td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #96d0d7;
}
.tabelaPac {
  width: 80%;
  border-collapse: collapse;
  margin-left: 140px;
  margin-right: 0%;
  
}
.tabelaPac th {
  padding: 8px;
  background-color: #17dcffa8;
  color: #333;
  border-style:solid;
}

.trPac td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #ececec;
}
.trPac:hover td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #96d0d7;
}
.trHis{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #ececec;
}
.tabelaCaixa{
  width: 80%;
  border-collapse: collapse;
  margin-left: 140px;
  margin-right: 0%;
}
.tabelaCaixa th{
  padding: 8px;
  background-color: #17dcffa8;
  color: #333;
  border-style: solid;
}
.tabelaCaixa td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #ececec;
}
.trCaixa:hover td{
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
  background-color: #96d0d7;
}

link{
  text-decoration: none;
}
.naveg {
  text-align: center;
  background-color: rgb(142, 176, 176);
  border-style: solid;
  margin-bottom: 20px;
}
.MedTitle{
  text-align: center;
}
.end{
  text-align: start;
}
.medoptions{
  text-align:center;
  border-radius: 5px;
  background-color: aqua; 
  border-radius: 10px;
  margin-left: 40%;
  margin-right: 40%;
  border-style:double;
}
.useroptions{
  text-align:center;
  border-radius: 5px;
  background-color: aqua; 
  border-radius: 10px;
  margin-left: 40%;
  margin-right: 40%;
  border-style:double;

}
.op1{

    display: inline-block;
}
.op2{
  display: inline-block;
  margin-left: 2px;
}

.naveg button{
  background-color: #02c3ea; 
  border-style: solid;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}

.crm{
  margin-left: 32px;
}
.dor_Incomodo{
size: 30px;
}
.selectOp{
  margin-left: 5px;
}
h1{
 text-align: center;
 margin-bottom: 10px;
}
.buttonHis{
  background-color: #02c3ea; 
  border-style: solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 80%;
  margin-top: 20px;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
.buttonHis:hover{
  background-color: #00a1a9; 
  border-style: solid;
  border-radius: 5px;
  margin-left: 80%;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: right;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
.loading {
  text-align: center;
  margin-top: 50px;
}
.exit{
  color: #ad0000;
}

#filtroContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #f0f0f0;
  border: 3px solid #000000;
  height: 26px;
  padding: 8px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filtroEmail {
  width: 150px; 
  height: 30px; 
  padding: 4px; 
  font-size: 14px; 
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000000;
}

#filtroButton {
  padding: 6px 10px; 
  font-size: 14px; 
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#filtroButton:hover {
  background-color: #0056b3;
}
